.main{
    background-image:linear-gradient(to right,red,blue);
    margin:2px;
    border:1px dashed;
    border-color: black;
    height: 1000px;
    width: 1500px;
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;

    
}
.main1{
    background-color: rgb(75, 129, 175);
    height: 700px;
    width: 1450px;
    margin:100px 10px 10px 20px;
    padding:10px 10px 10px 10px;
    border: 1px dashed brown;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    column-gap: 5px;

}
.item{
    border:1px;
    border-style:groove; 
    height:50px;
    width:250px;
    position:absolute; 
    left: 500px;
    top: 50px;
}
